<div id="login-box">
    <div class="left">
      <h1>Log in</h1>
  
      <form action="" accept-charset="UTF-8">
  
        <label>Username</label>
        <input required="" type="text" name="userName" matInput />
  
        <label>Password</label>
        <input required="" type="password" name="password" matInput />
  
        <button type="submit" class="btn btn-success">Log in</button>
      </form>
    </div>
  
    <div class="right">
      <span class="loginwith">Log in with<br />social network</span>
  
      <button class="social-signin facebook">Log in with Facebook</button>
      <button class="social-signin twitter">Log in with Twitter</button>
      <button class="social-signin google">Log in with Google+</button>
    </div>
    <div class="or">OR</div>
  </div>
  