<app-navbar></app-navbar>

<div class="bootstrap-wrapper">
  <div class="container">
    <h1>Test 1234</h1>
    <div class="row">
      <div class="col-md-6">
        <h1>Left</h1>
        <div class="example-button-row">
          <button mat-button color="primary">Primary</button>
        </div>
      </div>

      <div class="col-md-6">
        <h1>Right</h1>
        <div class="example-button-row"></div>
        <button mat-button color="warn">Green</button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>