<mat-toolbar class="red">
    <a mat-icon-button class="example-icon" routerLink="/" aria-label="Example icon-button with menu icon">
        <mat-icon>home</mat-icon>
    </a>
    <span>HOME</span>
    <span class="example-spacer"></span>
    <section>
        <div class="example-button-row">
            <a mat-raised-button color="primary" routerLink="/login" class="button-margin">Login</a>
            <a mat-raised-button color="warn" routerLink="/signup" class="button-margin">Register</a>
        </div>
    </section>
</mat-toolbar>